@import url(http://fonts.googleapis.com/css?family=Prompt);

/* Basic setup*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  
  html,body {

    margin: 0px !important;
    padding: 0px !important;
    font-family: 'Prompt', sans-serif;
    text-rendering: optimizeLegibility;  
   overflow-x: hidden;
  }


    /* Nav bar*/

    nav li{
        margin-right: 30px;
        font-weight: 800;
    }

  /* Header */


  header #hero{

    line-height: 35px;
    font-family: 'Prompt', sans-serif;
  }

  .hero{
    line-height: 29px;
    margin: 4% 0;
  }

.hero h3{
     margin-bottom: 2%;
     font-weight: 700;

}

.hero p{
    font-size: 18px;
    font-weight: 400;
}


  header strong{
      color:#1CBFE2;
  }
  

  /*Works and  sections*/


section .first-p{

    margin: 4% 0;
}
  .my-works .first-section
{

    background-image: url("../img/Checkout.png");
    background-size: cover; 
    opacity: 0.89;
    background-position: center;
    border-radius: 10px;
    width:100%;
    height: 100%;
    cursor: pointer;
   
  }

section .first-p{
    font-weight: 500;
    font-size: 30px;
}
  .my-works .first-section:hover
  {
  
      opacity: 1;
      transform:scale(1.03);
      
  }


  .my-works .second-section{

    background-image: url("../img/epay.JPG");
    background-size: cover; 
    border-radius: 10px;
    opacity: 0.89;
    background-position: center;
    width:100%;
    height: 100%;
    cursor: pointer;
  
  }
  .my-works .second-section:hover
  {
  
      opacity: 1;
      transform:scale(1.03);
      
  }


  .my-works .third-section{

    background-image: url("../img/LushEvent.png");
    background-size: cover; 
    border-radius: 10px;
    opacity: 0.89;
    background-position: center;
    width:100%;
    cursor: pointer;

    
  }

  .my-works .third-section:hover
  {
  
      opacity: 1;
      transform:scale(1.03);
  }

  .my-works .forth-section{

    background-image: url("../img/ominifood.png");
    background-size: cover; 
    border-radius: 10px;
    opacity: 0.89;
    background-position: top;
    width:100%;
    height: 100%;
    cursor: pointer;
  }

  .my-works .forth-section:hover
  {
  
      opacity: 1;
      transform:scale(1.03);
      
  }
  .first-section  a, 
  .forth-section a,
  .third-section a,
  .second-section a{
      display: block;
      text-decoration: none;
     
   
  }
 

    .first-section a:hover,
    .forth-section a:hover,
    .third-section a:hover,
    .second-section a:hover{
        text-decoration: none;
    }

  .my-works .content{
      padding: 30%;
      text-align: center;
      color: #000;
      border-radius: 10px;
      font-size: 20px;
      font-weight: 900;
  }

  /* Footer ssection*/
footer, footer small{
    font-size: 20px;
    font-weight: 400;
}

  footer, .container-two{
      margin-top: 2%;
  }

  footer ul li{
    display: inline-block;
      list-style: none;
  }
  footer li{
      margin-right: 20px;
  }

  footer a{
    text-decoration: none;
    color: #000;
  }
  footer p{
      
      margin-top: 2%;
  }

  footer ul{
    margin-top: 8%;
}

  footer a:hover{
    text-decoration: none;
    color: #1CBFE2;
  }





/* Big Tablet to 1200px*/
@media only screen and (max-width: 1200px){
}


/* Small Tablets - Big Tablets  from 767px - 1023px*/
@media only screen and (max-width: 1023px){
  
      html,body {
    margin: 4px !important;
    padding: 4px !important;
    font-family: 'Prompt', sans-serif;
   overflow-x: hidden;
  }

}



/* Small Phones to Small Tablets from 480px - 767*/
@media only screen and (max-width: 767px){
  
      html,body{
    margin: 4px !important;
    padding: 4px !important;
    font-family: 'Prompt', sans-serif;
   overflow-x: hidden;
  }
    
    
}

   




/* Small Phones from 0 to 480px*/
@media only screen and (max-width: 480px){
     
  html,body {

    margin: 4px !important;
    padding: 4px !important;
    font-family: 'Prompt', sans-serif;
   overflow-x: hidden;
  }
 }











